
.container{
    background: linear-gradient(45deg, #FC466B, #3F5EFB);
    height: 110vh;
    font-family: 'Montserrat', sans-serif;
  }
 
#header{
    background-color: #FC466B;
    padding: 20px;
    text-align: center;
}

span{
    font-size:48px;
    color: #fff;
   
}

#firstbutton{
    border:1px solid grey;
    cursor: pointer;
    padding: 15px;
    float: right;
    text-align: center;
    border-radius: 10%;
    background-image: linear-gradient(to right, #ee87d1 0%, #82aaee 51%, #f323b8 100%);
    color: whitesmoke;
    font-size: large;
    transition: all 0.8s;
    text-align: center;

}

#firstbutton:hover{
    background-image: linear-gradient(to right,#f323b8 0%,  #82aaee 51%,#ee87d1 100% );
}

#firstbutton:hover{
    text-decoration: underline;
    background-color: rgb(245, 100, 4);
}